@font-face {
  font-family: 'Malgun Gothic Regular';
  src: url(../fonts/malgun-gothic-regular.ttf);
  font-weight: normal;
  font-style: normal;
}
/* line 8, ../scss/main.scss */
body {
  font-family: Verdana, "Geneva CY", "DejaVu Sans", sans-serif;
}

/* line 12, ../scss/main.scss */
.container {
  max-width: 1054px;
  min-width: 900px;
  margin: auto;
  box-shadow: 0px 0px 30px 10px rgba(70, 71, 74, 0.3);
}

/* line 19, ../scss/main.scss */
header {
  overflow: hidden;
}

/* line 23, ../scss/main.scss */
.header-nav {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background-color: #2f2e2d;
  padding: 0 4% 0 2.5%;
}
/* line 29, ../scss/main.scss */
.header-nav .site-search {
  display: flex;
  align-items: center;
  padding: 6px 2px 11px 0;
  margin-left: 30px;
}
/* line 35, ../scss/main.scss */
.header-nav input {
  background-color: inherit;
  color: white;
  font-size: 12px;
  line-height: 1.7;
  width: 183px;
  padding: 1px 7px;
  outline: none;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  border-left: 1px solid #dedede;
  border-right: none;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
/* line 52, ../scss/main.scss */
.header-nav button {
  background-color: #e5c849;
  background-image: url(../img/icons-spritesheet.png);
  background-repeat: no-repeat;
  background-position: -10px -228px;
  width: 35px;
  height: 26px;
  border: none;
  padding: 0;
}

/* line 64, ../scss/main.scss */
.main-menu {
  display: flex;
  align-items: flex-start;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

/* line 72, ../scss/main.scss */
.main-menu__item {
  position: relative;
}
/* line 74, ../scss/main.scss */
.main-menu__item a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  padding: 9px 16px 17px 16px;
}

/* line 81, ../scss/main.scss */
.main-menu__item_icon {
  background: url(../img/icons-spritesheet.png) no-repeat;
  background-position: -10px -10px;
  min-width: 16px;
  height: 18px;
  margin: 10px 7px;
}

/* line 88, ../scss/main.scss */
.main-menu__item_hover-menu {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: linear-gradient(#b4de5c, #80be36);
  box-shadow: 0px 15px 10px -8px rgba(0, 0, 0, 0.15);
  z-index: 20;
  line-height: 1.2;
}
/* line 101, ../scss/main.scss */
.main-menu__item_hover-menu li {
  padding-bottom: 10px;
}
/* line 104, ../scss/main.scss */
.main-menu__item_hover-menu a {
  color: white;
  font-size: 12px;
  padding: 0 0 0 16px;
  text-decoration: underline;
}

/* line 111, ../scss/main.scss */
.main-menu__item:hover {
  background: linear-gradient(#c4e868, #b4de5c);
}
/* line 113, ../scss/main.scss */
.main-menu__item:hover .main-menu__item_hover-menu {
  display: block;
}

/* line 118, ../scss/main.scss */
.header-main {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px 4% 12px 4%;
  font-family: 'Malgun Gothic Regular';
  background: url(../img/leaf-header.png) no-repeat 38px -8px;
}

/* line 126, ../scss/main.scss */
.contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 10px;
  min-width: 213px;
}
/* line 132, ../scss/main.scss */
.contacts ul {
  padding: 0;
  margin: 0 8px 6px 0;
  list-style: none;
  font-size: 19px;
  line-height: 1.7;
  text-align: right;
}
/* line 140, ../scss/main.scss */
.contacts span {
  font-size: 14px;
  margin: 0 4px 12px 0;
  vertical-align: middle;
}

/* line 146, ../scss/main.scss */
.contacts__item {
  position: relative;
}
/* line 148, ../scss/main.scss */
.contacts__item::before {
  content: '';
  position: absolute;
  display: inline-block;
  background: url(../img/icons-spritesheet.png) no-repeat;
}

/* line 155, ../scss/main.scss */
.contacts__phone::before {
  width: 22px;
  height: 22px;
  background-position: -10px -196px;
  top: 0.35em;
  left: -37px;
}

/* line 162, ../scss/main.scss */
.contacts__email {
  text-decoration: none;
  color: inherit;
}
/* line 165, ../scss/main.scss */
.contacts__email::before {
  width: 22px;
  height: 22px;
  background-position: -10px -132px;
  top: 0.35em;
  left: -36px;
}
/* line 172, ../scss/main.scss */
.contacts__email a {
  text-decoration: none;
  color: inherit;
}

/* line 178, ../scss/main.scss */
.link-button {
  color: white;
  font-size: 12px;
  line-height: 2.2;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 8px 1px 8px;
  background: linear-gradient(#fae177, #dbbe40);
}

/* line 188, ../scss/main.scss */
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
/* line 193, ../scss/main.scss */
.logo span {
  font-size: 17px;
}
/* line 195, ../scss/main.scss */
.logo span::first-letter {
  font-size: 1.4em;
}
/* line 199, ../scss/main.scss */
.logo .logo__nuts {
  width: 60px;
}
/* line 202, ../scss/main.scss */
.logo .logo__fruits {
  width: 115px;
}
/* line 205, ../scss/main.scss */
.logo h1 {
  font-size: 10px;
  text-indent: -9999px;
  overflow: hidden;
  height: 128px;
  width: 120px;
  background: url(../img/rinjana-logo.png) no-repeat 100% 100%;
  margin: 0 33px;
}

/* line 216, ../scss/main.scss */
.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 15px;
  width: 148px;
  background: url(../img/cart-icon.png) no-repeat 0 0;
  font-family: Verdana, "Geneva CY", "DejaVu Sans", sans-serif;
  text-transform: uppercase;
}
/* line 233, ../scss/main.scss */
.cart h3 {
  margin: 5px 0 4px 0;
  width: 88px;
  font-size: 11px;
  font-weight: bolder;
}
/* line 238, ../scss/main.scss */
.cart h3::first-letter {
  font-size: 1.3em;
}
/* line 242, ../scss/main.scss */
.cart .cart__quantity-header {
  font-size: 11px;
  font-weight: bolder;
  margin: 0 0 20px 0;
  width: 88px;
}
/* line 247, ../scss/main.scss */
.cart .cart__quantity-header::first-letter {
  font-size: 1.3em;
}
/* line 251, ../scss/main.scss */
.cart .cart__quantity {
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  color: #dd2b0e;
  width: 17px;
}
/* line 258, ../scss/main.scss */
.cart .link-button {
  margin-right: 4px;
}

/* line 263, ../scss/main.scss */
main {
  overflow: auto;
}

/* line 267, ../scss/main.scss */
section {
  overflow: hidden;
}

/* line 271, ../scss/main.scss */
.main__content {
  position: relative;
  display: flex;
  justify-content: flex-end;
  background: url(../img/main-background.jpg) no-repeat;
  background-position-x: 60%;
  padding: 5px 4% 2px 4%;
}
/* line 279, ../scss/main.scss */
.main__content ul {
  margin: 0;
  padding: 0;
  min-width: 545px;
  line-height: 2.34;
  font-size: 22px;
  font-family: "Malgun Gothic Regular";
  text-transform: uppercase;
  list-style: none;
  z-index: 10;
}

/* line 291, ../scss/main.scss */
.products__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
/* line 296, ../scss/main.scss */
.products__item:nth-child(1) {
  padding: 0 34px;
}
/* line 299, ../scss/main.scss */
.products__item:nth-child(3) {
  padding: 0 27px;
}
/* line 302, ../scss/main.scss */
.products__item:nth-child(4) {
  padding: 0 35px;
}
/* line 305, ../scss/main.scss */
.products__item img {
  position: absolute;
}
/* line 308, ../scss/main.scss */
.products__item .nuts-image {
  top: 4px;
  right: 31px;
}
/* line 312, ../scss/main.scss */
.products__item .fruits-image {
  top: -6px;
  right: 181px;
}
/* line 316, ../scss/main.scss */
.products__item .candied-image {
  top: -1px;
  right: 5px;
}
/* line 320, ../scss/main.scss */
.products__item .snacks-image {
  top: 9px;
  right: 195px;
}

/* line 326, ../scss/main.scss */
.products__link {
  color: inherit;
  text-decoration: none;
  position: relative;
}
/* line 330, ../scss/main.scss */
.products__link span {
  font-size: 1.4em;
}
/* line 333, ../scss/main.scss */
.products__link:hover {
  color: #82bf37;
}
/* line 336, ../scss/main.scss */
.products__link::after {
  content: '';
  display: block;
  position: absolute;
  background: url(../img/pointer-sprite.png) no-repeat;
}

/* line 343, ../scss/main.scss */
.products__link_nuts-pointer::after {
  width: 263px;
  height: 36px;
  background-position: -5px -5px;
  top: 18px;
  left: 90px;
}

/* line 350, ../scss/main.scss */
.products__link_nuts-pointer:hover::after {
  background-position: -5px -212px;
}

/* line 353, ../scss/main.scss */
.products__link_fruits-pointer::after {
  width: 129px;
  height: 58px;
  background-position: -5px -51px;
  top: 26px;
  left: 158px;
}

/* line 360, ../scss/main.scss */
.products__link_fruits-pointer:hover::after {
  background-position: -5px -258px;
}

/* line 363, ../scss/main.scss */
.products__link_candied-pointer::after {
  width: 245px;
  height: 53px;
  background-position: -5px -119px;
  top: 25px;
  left: 107px;
}

/* line 370, ../scss/main.scss */
.products__link_candied-pointer:hover::after {
  background-position: -5px -326px;
}

/* line 373, ../scss/main.scss */
.products__link_snacks-pointer::after {
  width: 114px;
  height: 20px;
  background-position: -5px -182px;
  top: 31px;
  left: 92px;
}

/* line 380, ../scss/main.scss */
.products__link_snacks-pointer:hover::after {
  background-position: -5px -389px;
}

/* line 383, ../scss/main.scss */
.main__leaf {
  position: absolute;
  left: 32.7%;
  bottom: -1px;
  z-index: 5;
}

/* line 389, ../scss/main.scss */
.main__advantages {
  margin-top: -8px;
  text-align: center;
  padding: 33px 4% 64px 4%;
  background: url(../img/advantages-background.png) no-repeat;
  background-size: 100% 100%;
  background-position-y: -4px;
  z-index: 50;
  opacity: .9999;
}
/* line 398, ../scss/main.scss */
.main__advantages h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  font-family: "Malgun Gothic Regular";
  text-transform: uppercase;
  font-size: 19px;
  font-weight: normal;
}
/* line 408, ../scss/main.scss */
.main__advantages .underline {
  display: inline-block;
  margin-top: 7px;
  width: 110px;
  height: 1px;
  background-color: black;
}
/* line 415, ../scss/main.scss */
.main__advantages ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 28px 0 0 0;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.7;
}
/* line 425, ../scss/main.scss */
.main__advantages li {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 185px;
}
/* line 431, ../scss/main.scss */
.main__advantages .icon {
  min-width: 81px;
  min-height: 81px;
  background: url(../img/icons-spritesheet.png) no-repeat;
  margin-bottom: 10px;
}
/* line 437, ../scss/main.scss */
.main__advantages .icon-portmone {
  background-position: -76px -5px;
}
/* line 440, ../scss/main.scss */
.main__advantages .icon-hand {
  background-position: -76px -96px;
}
/* line 443, ../scss/main.scss */
.main__advantages .icon-car {
  background-position: -167px -96px;
}
/* line 446, ../scss/main.scss */
.main__advantages .icon-document {
  background-position: -167px -5px;
}

/* line 451, ../scss/main.scss */
footer {
  overflow: auto;
  background: url(../img/footer-background.jpg) no-repeat;
  background-size: 100% 100%;
  z-index: 25;
  margin-top: -10px;
  padding: 0 4%;
  color: #ffffff;
}

/* line 460, ../scss/main.scss */
.footer-info {
  display: flex;
  justify-content: space-between;
  padding-top: 12px;
  padding-bottom: 20px;
}
/* line 465, ../scss/main.scss */
.footer-info h3 {
  margin: 0 0 14px 0;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 14px;
}
/* line 470, ../scss/main.scss */
.footer-info h3:first-letter {
  font-size: 1.3em;
}
/* line 474, ../scss/main.scss */
.footer-info .footer-info__nav {
  margin: 0;
  list-style: none;
  padding: 0;
  font-size: 13px;
  line-height: 2.28;
  min-width: 130px;
}
/* line 482, ../scss/main.scss */
.footer-info a {
  color: #ffffff;
}
/* line 485, ../scss/main.scss */
.footer-info .contacts {
  margin: 0;
  font-size: 13px;
}
/* line 488, ../scss/main.scss */
.footer-info .contacts ul {
  margin: 0 0 10px 0;
  font-size: 16px;
}
/* line 492, ../scss/main.scss */
.footer-info .contacts .contacts__phone:before {
  background-position: -10px -165px;
}
/* line 495, ../scss/main.scss */
.footer-info .contacts .contacts__email::before {
  background-position: -10px -100px;
  top: 0.25em;
}

/* line 501, ../scss/main.scss */
.footer-info__address {
  width: 280px;
  font-size: 12px;
  margin-left: 12.4%;
  line-height: 1.5;
}
/* line 506, ../scss/main.scss */
.footer-info__address b {
  font-weight: normal;
}
/* line 509, ../scss/main.scss */
.footer-info__address .footer-info__address_margin {
  display: inline-block;
  margin-bottom: 15px;
}

/* line 515, ../scss/main.scss */
.footer-logo {
  display: flex;
  justify-content: space-between;
  position: relative;
}
/* line 519, ../scss/main.scss */
.footer-logo .organisation-name {
  text-transform: uppercase;
  font-size: 14px;
  margin: 39px 8px 0 0;
}
/* line 524, ../scss/main.scss */
.footer-logo .footer-logo__image-decor {
  position: absolute;
  bottom: 0;
  left: 45.4%;
}

/* line 530, ../scss/main.scss */
.footer-logo__logo {
  margin-left: 5px;
  padding: 6px 0 9px 0;
}
/* line 533, ../scss/main.scss */
.footer-logo__logo span {
  font-size: 16px;
}
/* line 536, ../scss/main.scss */
.footer-logo__logo .footer-logo__logo_width_nuts {
  width: 65px;
}
/* line 539, ../scss/main.scss */
.footer-logo__logo .footer-logo__logo_width_fruits {
  width: 120px;
  margin-left: 11px;
}
