$shadow_inset_white: inset 0px 1px 3px 3px rgba(255, 255, 255, 0.3);
$shadow_gray: 0px 4px 8px 5px rgba(0, 0, 0, 0.3);

$color_dark-elem-default: #2f2e2d; // Дефолтный почти черный цвет многих элементов

$color_neon-green: #80be36; // Яркозеленый цвет многих элементов
$color_neon-green_text: #518f08; // Более темный яркозеленый цвет для текста
$color_yellow: #f8e58b; // Желтый цвет некоторых элемнтов
