.cart-table{
  background: url(../img/cart-table-background.png) no-repeat;
  background-size: 100% 100%;
  margin-bottom: 43px;
  th:first-child{
    text-align: left;
    width: 28.5%;
  }
  th:nth-child(2){
    text-align: left;
    width: 19.1%;
  }
  th:nth-child(3){
    width: 18.8%;
  }
  th:nth-child(4){
    width: 19%;
  }
  .cart-table_cell-padding-left_27{
    padding-left: 27px;
  }
  .cart-table_cell-align_center{
    text-align: center;
  }
  .cart-table_cell-align_right{
    text-align: right;
  }
  .cart-table__price-cell,
  .cart-table__summ-cell,
  .cart-table__product-qnt,
  .cart-table__summ-total{
    font-size: 14px;
  }
  .cart-table__cy{
    text-transform: none;
  }

}
.cart-table__qnt{
  font-size: 12px;
  border: 2px solid $color_neon-green_text;
  border-radius: 2px;
  padding: 3px 12px;
  margin: 0 5px;
}
.cart-table__minus-btn,
.cart-table__plus-btn,
.cart-table__del-btn{
  font-size: 16px;
  font-weight: bold;
  color: $color_neon-green_text;
  cursor: pointer;
}
.cart-table__reset-btn{
  cursor: pointer;
  text-decoration: underline;
}
