
.main__leaf_620-230{
  top: 620px;
  left: 230px;
}

aside{
  .sidebar-menu__submenu_padding-bottom_15{
    padding: 0 0 15px 0;
  }
}

.product-item__product-name-link_font-size_07{
  font-size: 0.7em;
}