footer{
  overflow: auto;
  background: url(../img/footer-background.jpg) no-repeat;
  background-size: cover;
  z-index: 25;
  margin-top: -10px;
  padding: 0 4%;
  color: #ffffff;
}

.footer-info{
  .address{
    position: relative;
    left: 6vh;
  }
}
