.link-button{
  color: white;
  font-size: 12px;
  line-height: 2.2;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 8px 1px 8px;
  background: -webkit-linear-gradient(#fae177, #dbbe40);
  background: linear-gradient(#fae177, #dbbe40);
}
